.img-box {
  margin-top: 50px;
  width: 450px;
  height: 200px;
  position: relative;
}
.img-box img {
  width: 100%;
  height: auto;
}
.img-box h2 {
  width: auto;
  height: auto;
  position: absolute;
    font-size: 18pt;
  text-align: center;
  background-color: lightgreen;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}